.first {
  background: #e8ebe9;
  width: 500px;
  height: 250px;
  border-radius: 10px;
  position: relative;
  left: 50px;
  border: 2px solid orange;
  text-align: center;
}
.second {
  background: #e8ebe9;
  width: 600px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid blue;
  text-align: center;
}
.parent {
  background: #e8ebe9;
  width: 1000px;
  height: 200px;
  border: 2px solid green;
  position: relative;
}
.child {
  background: #e8ebe9;
  border: 1px solid red;
  top: 10px;
  right: 10px;
  width: 400px;
  height: 150px;
  position: absolute;
}
